<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg/ty_hdt_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,30}</string>
                <key>spriteSourceSize</key>
                <string>{8,30}</string>
                <key>textureRect</key>
                <string>{{2,2},{8,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/ty_hdt_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,30}</string>
                <key>textureRect</key>
                <string>{{12,2},{12,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/ty_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{413,179},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/ty_nr_dk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,110}</string>
                <key>textureRect</key>
                <string>{{112,275},{233,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/ty_tk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,104}</string>
                <key>textureRect</key>
                <string>{{2,275},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/ty_tk_di3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{126,2},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg/y_bk_9g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{341,53},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/btn_green_small_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,67}</string>
                <key>spriteSourceSize</key>
                <string>{156,67}</string>
                <key>textureRect</key>
                <string>{{2,179},{156,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/hy_btn_tj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,59}</string>
                <key>spriteSourceSize</key>
                <string>{140,59}</string>
                <key>textureRect</key>
                <string>{{2,111},{140,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/ty_btn_gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{397,53},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/ty_btn_hx_hs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,69}</string>
                <key>spriteSourceSize</key>
                <string>{161,69}</string>
                <key>textureRect</key>
                <string>{{160,179},{161,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/y_2zi_bq1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,66}</string>
                <key>textureRect</key>
                <string>{{274,111},{128,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button/y_2zi_bq2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,66}</string>
                <key>textureRect</key>
                <string>{{144,111},{128,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element/sz_tytx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{347,275},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element/ty_bti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,49}</string>
                <key>spriteSourceSize</key>
                <string>{337,49}</string>
                <key>textureRect</key>
                <string>{{2,53},{337,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element/ty_tj_sl_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{26,2},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element/ty_ykicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,41}</string>
                <key>spriteSourceSize</key>
                <string>{57,41}</string>
                <key>textureRect</key>
                <string>{{67,2},{57,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element/zjm_txk_fx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{323,179},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de85da08df554b3255a4bc7c18d10bb7:41e9d3dfd7b8ceb932c9f278ac617bc9:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
