<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kfphb_nd1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{322,2},{128,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kfphb_nd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{452,2},{128,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kfphb_nd3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{842,2},{128,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kfphb_nd4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{582,2},{128,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kfphb_nd5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{712,2},{128,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kfphb_nd6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{2,64},{128,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_fgx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,28}</string>
                <key>spriteSourceSize</key>
                <string>{43,28}</string>
                <key>textureRect</key>
                <string>{{2,2},{43,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_mc_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,105}</string>
                <key>spriteSourceSize</key>
                <string>{69,105}</string>
                <key>textureRect</key>
                <string>{{267,64},{69,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_mc_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,105}</string>
                <key>spriteSourceSize</key>
                <string>{69,105}</string>
                <key>textureRect</key>
                <string>{{338,64},{69,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_mc_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,105}</string>
                <key>spriteSourceSize</key>
                <string>{69,105}</string>
                <key>textureRect</key>
                <string>{{196,64},{69,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_zl_tb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{119,2},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_zt_wsb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,48}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{214,2},{106,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_zt_xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{47,2},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_zt_zx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{83,2},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_zz_nr_d02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,110}</string>
                <key>spriteSourceSize</key>
                <string>{590,110}</string>
                <key>textureRect</key>
                <string>{{409,64},{590,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_zz_zt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{132,64},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_nr_dk_hs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,113}</string>
                <key>spriteSourceSize</key>
                <string>{213,113}</string>
                <key>textureRect</key>
                <string>{{2,176},{213,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_ykicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,41}</string>
                <key>spriteSourceSize</key>
                <string>{57,41}</string>
                <key>textureRect</key>
                <string>{{155,2},{57,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leaderboard.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79a85e4a003f59e15340d9934b4a0c80:a7a1c5e3b15060c02d929280e9772343:12ea4f5d995f1dd96095cbdcbda0b821$</string>
            <key>textureFileName</key>
            <string>leaderboard.png</string>
        </dict>
    </dict>
</plist>
